.banner {
    --size: 150px;
    --animation-duration: 2s;
    position: relative;
    display: grid;
    grid-template-rows: 0fr;
    animation: banner-down var(--animation-duration) forwards;
    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        opacity: 0;
        animation: 3s ease 0s normal forwards 1 content-show;
        min-height: 74vh;
        &-text {
            font-size: clamp(16px, 1.8vw, 20px);
            letter-spacing: 0.02em;
            text-shadow: 1px 1px 1px #000000;
        }
    }
    &-footer {
        @apply inline-flex flex-col items-center gap-4 mt-12 mx-auto text-center;
        animation: 4s ease 0s normal forwards 1 content-show;
        &-image {
            width: var(--size);
            height: var(--size);
        }
    }
}
@include less-md() {
    .banner {
        --size: 100px;
    }
}

@keyframes banner-down {
    from {
        grid-template-rows: 0fr;
        height: 0;
    }
    to {
        grid-template-rows: 1fr;
        height: 70vh;
    }
}
@keyframes content-show {
    from {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
