<div class="inner banner bg-background">
    <div class="banner-content">
        <div class="flex flex-col gap-3 sm:gap-6 text-center">
            <p class="subtitle font-medium">{{ content.subtitle }}</p>
            <h1 class="title font-primary font-bold">
                {{ content.title }}
            </h1>
            <p class="description font-light">{{ content.description }}</p>
        </div>
        <div class="banner-footer">
            <p class="link font-primary font-bold">zum Artikel</p>
            <img
                class="banner-footer-image"
                src="/assets/images/qr-code.png"
                alt="zum Artikel"
                width="150"
                height="150"
            />
        </div>
    </div>
</div>
