<header id="header" class="header">
    <div class="container">
        <div class="header-inner">
            {% include "../components/logo.html" %}
            <div class="datetime" id="datetime">
                15.05.2024 | 12:30
            </div>
        </div>
    </div>
</header>