{% set content = ["doloremque qui impedit", "in fugiat temporibus", "neque est sit","doloremque qui impedit", "in fugiat temporibus", "neque est sit"] %}
<ul class="transition-line bg-primary flex items-center justify-center overflow-hidden">
    {% for value in content %}
        <li class="transition-line-item">{{ value }}</li>
    {% endfor %}
</ul>