@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --primary: #a82b26;
        --primary-foreground: #fff;
        --background: 0, 0%, 0%;
        --foreground: #fff;
    }
    body {
        @apply text-foreground font-secondary;
    }
}
@layer components {
    .wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .wrapper-bg,
    .wrapper-bg > img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .wrapper-bg {
        --content-scale-duration: 60s;
        z-index: -1;
        overflow: hidden;
    }

    .wrapper-bg > img {
        object-fit: cover;
        object-position: center;
        animation: background-scale var(--content-scale-duration) linear infinite;
    }

    .content {
        flex: 1 0 auto;
    }

    .inner {
        @apply px-3 sm:px-6 py-4 sm:py-8;
    }

    .subtitle {
        text-transform: uppercase;
        font-size: clamp(16px, 1.8vw, 20px);
        letter-spacing: .02em;
        text-shadow: 1px 1px 1px #000000;
    }
    .title {
        font-size: clamp(24px, 2.4vw, 32px);
        letter-spacing: .02em;
        text-shadow: 1px 1px 1px #000000;
    }
    .description {
        font-size: clamp(16px, 1.8vw, 20px);
        letter-spacing: .02em;
        text-shadow: 1px 1px 1px #000000;
    }
    .link {
        font-size: clamp(16px, 1.8vw, 20px);
        letter-spacing: .02em;
        text-shadow: 1px 1px 1px #000000;
    }
}
@keyframes background-scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(2);
    }
}
